appdirs==1.4.4
asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.6
colorama==0.4.6
cssbeautifier==1.14.9
Django==4.2.4
django-vite==3.1.0
djangorestframework==3.14.0
djlint==1.34.0
psycopg[binary]>=3.1
EditorConfig==0.12.3
frozendict==2.3.8
html-tag-names==0.1.2
html-void-elements==0.1.0
html5lib==1.1
idna==3.4
jsbeautifier==1.14.9
json5==0.9.14
lxml==4.9.3
multitasking==0.0.11
networkx==3.1
pathspec==0.11.2
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tomli==2.0.1
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.6
webencodings==0.5.1
yfinance==0.2.66
whitenoise==6.5.0
