{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <script>
        const likesIconURL = "{% static 'network/likes-icon.png' %}";
    </script>
    
    <div id="posts-view" class="container-fluid mt-4">
        <h2>All Posts</h2>
    </div>

    <div id="new-post-view" class="container-fluid mt-4" display='none'>
        <div class="row">
            <div class="col-12">
                <h2 class="mb-4">New Post</h2>
                <form id="new-post-form">
                    <textarea class="form-control mb-2" id="new-post-text" name="post-content" placeholder="Enter new post here"></textarea>
                    <input type="submit" class="btn btn-primary" value="Post"/>
                </form>
            </div>
        </div>
    </div>

{% endblock body %}

{% block script %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock script %}
