{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div class="container-fluid mt-4">
        <h2>User Profile</h2>
        <div id="user-profile-container" class="row align-items-center" data-username="{{ profile_user.username }}">
            <div class="col-3">
                <h4>{{ profile_user.username }}</h4>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <div class="profile-stat">
                    <span class="stat-label">Followers:</span>
                    <span class="stat-value" id="profile-followers">{{ followers }}</span>
                </div>
                <div class="profile-stat">
                    <span class="stat-label">Following:</span>
                    <span class="stat-value">{{ following }}</span>
                </div>
                <div class="profile-stat">
                    <span class="stat-label">Posts:</span>
                    <span class="stat-value">{{ posts_count }}</span>
                </div>
            </div>
            {% if user.is_authenticated and request.user != profile_user %}
                <div class="col-3 d-flex justify-content-end">    
                    <form id="follow-form">
                        {% csrf_token %}
                        <button id="follow-button" type="submit" class="btn btn-primary">
                            {% if request.user in profile_user.followers.all %}
                                Unfollow
                            {% else %}
                                Follow
                            {% endif %}
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>

        <hr class="separator">

        <div class="posts-container">
            {% for post in posts %}
                <div class="post">
                    <div>{{ post.content }}</div>
                    <div class="timestamp">{{ post.timestamp }}</div>
                    <div class="likes">
                        <img src="{% static 'network/likes-icon.png' %}" alt="Likes" width="20" height="20">
                        <span>{{ post.likes_count }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock body %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock script %}