# Non-secret deployment contract. Provision real values in Life OS.
# Do not commit a populated copy of this file.
DATABASE_URL=<provision-in-life-os>
DJANGO_SECRET_KEY=<provision-in-life-os>
DJANGO_ALLOWED_HOSTS=rent.linik.ru
DJANGO_CSRF_TRUSTED_ORIGINS=https://rent.linik.ru
BUSINESS_TIME_ZONE=Europe/Moscow
OIDC_ISSUER=<provision-in-life-os>
OIDC_CLIENT_ID=<provision-in-life-os>
OIDC_CLIENT_SECRET=<provision-in-life-os>
OIDC_CALLBACK_URL=https://rent.linik.ru/oidc/callback/
OIDC_LOGOUT_URL=<provision-in-life-os>
OIDC_AUTHORIZATION_MAX_AGE=300
PORT=8000
GUNICORN_WORKERS=2
