property-venv
property_rental/AW-rental

property_rental/property_rental/__pycache__/
property_rental/rentals/__pycache__/
property_rental/rentals/migrations/__pycache__/
property_rental/rentals/templatetags/__pycache__/

property_rental/db.sqlite3

property_rental/staticfiles/

# Test files and directories
property_rental/tests/
test_*.py
testing.py

property_rental/AW-rentals/
property_rental/property_rental/settings.py
