.top-line {
    /* background-color: red; */
    text-align: right;    
    padding: 5px;
}

.links {
    color: black;
    text-decoration: auto;
}

.middle {
    /* background-color: green; */
    flex-grow: 1;
}

.container-fluid {
    height: 100vh;
    display: flex;  
    flex-direction: column;
}

.search-input {
    width: 40%;
    border-radius: 20px;
    padding: 7px 15px 7px 15px;
}

.adv-search {
    width: 100%;
}

.adv-search-line {
    padding: 5px;
}

#adv-header {
    padding: 5px;
    margin-bottom: 200px;
    font-size: larger;
    font-weight: bold;
}