{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <table class="table">
        <tbody>
          {% for listing in listings %}
          <tr {% if not listing.active %} class="inactive"{% endif %}>
            <td>
                {% if listing.image_URL %}
                    <img src="{{ listing.image_URL }}" alt="{{ listing.title }}" style="max-width: 100px;">
                {% else %}
                  <img src="https://via.placeholder.com/100x100.png?text=No+Image" alt="No Image" style="max-width: 100px;">
                {% endif %}
            </td>
            <td>
                <h5> <a href="{% url 'show_listing' listing.id %}">{{ listing.title }}</a></h5>
                <p>{{ listing.description }}</p>
                <p>Price: ${{ listing.price }}</p>
                {% if not listing.active %}
                  <span class="badge badge-secondary">Closed</span>
                {% endif %}
                {% if user.is_authenticated %}
                  {% if listing in user_watchlist %}
                    <span class="badge badge-secondary">Watchlist</span>
                  {% endif %}
                {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="2">No active listings</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
{% endblock %}