<div class="card bg-white border-0">
    <div class="card-body text-center">
        <!-- Icon -->
        <div class="circle-bg">
            <img src="{{ logo_link }}" alt="Dashboard Icon" class="dashboard-svg-icon" />
        </div>
                    
        <!-- Number -->
        <div class="mt-2">
            <span class="display-4 {% if text == 'Rent due' and number != 0 %} text-danger {% else %} {% endif %}">{{ number }}</span><span class="fs-5">{{ number_text }}</span>
        </div>
                    
        <!-- Text -->
        <div class="mt-2">
            <p class="mb-0">{{ text }}</p>
        </div>
    </div>
</div>
