{% extends "rentals/layout.html" %}
{% load static %}

{% block title %}Property rental - Home{% endblock title %}

{% block head %}
    <!-- Include React and ReactDOM -->
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
{% endblock head %}

{% block content %}

    <div class="container-fluid pt-3">
        <!-- First Row -->
        <div class="row mb-4">
            <div id="dashboard-card-1" class="col-md-3"></div>
            <div id="dashboard-card-2" class="col-md-3"></div>
            <div id="dashboard-card-3" class="col-md-3"></div>
            <div id="dashboard-card-4" class="col-md-3"></div>
        </div>
        <!-- Second Row -->
        <div class="row">
            <div class="col-md-8">
                <!-- Cash Flow Chart -->
                <div class="card">
                    <div class="card-header">
                        Cash Flow Chart
                    </div>
                    <div class="card-body">
                        <!-- Content of the Cash Flow Chart goes here -->
                        {% comment %} Third block will be bar chart with cash flow. The time width of the chart may be changed, as well as frequency of the data.  {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Payment Details -->
                <div class="card">
                    <div class="card-body p-0">
                        <h5 class="card-title fw-bold p-3">Payment schedule</h5>
                        <!-- Content of Payment Details goes here -->
                        {% comment %} The second block will show details on payments: x days of payment due, or payments made in time. Details on expenses listing all the required expenses with ticks or cross if expenses missed in certain months. {% endcomment %}
                        <div class="table-responsive">
                            {% include "rentals/payments_table.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block reactscript %}

    <script type="text/babel">

        function DashboardCard(props) {
            return (
                <div className="card bg-white border-0">
                    <div className="card-body text-center">
                        {/* Icon */}
                        <div className="circle-bg">
                            <img src={props.logoLink} alt="Dashboard Icon" className="dashboard-svg-icon" />
                        </div>
                                
                        {/* Number */}
                        <div className="mt-2">
                            <span className="display-4">{props.number}</span><span className="fs-5">{props.number_text}</span>
                        </div>
                                
                        {/* Text */}
                        <div className="mt-2">
                            <p className="mb-0">{props.text}</p>
                        </div>
                    </div>
                </div>
            );
        }

        // Render Dashboard components
        const dashboardCardProps1 = {
            logoLink: "{% static 'rentals/hourglass.svg' %}",
            number: "X",
            number_text: " months",
            text: "Tenant in the property",
        };

        const dashboardCardProps2 = {
            logoLink: "{% static 'rentals/cash-coin.svg' %}",
            number: "$10,000",
            number_text: "",
            text: "Revenue YTD",
        };

        const dashboardCardProps3 = {
            logoLink: "{% static 'rentals/cash-coin.svg' %}",
            number: "$3,000",
            number_text: "",
            text: "Income YTD",
        };
        
        const dashboardCardProps4 = {
            logoLink: "{% static 'rentals/exclamation-diamond-fill.svg' %}",
            number: "$1,000",
            number_text: "",
            text: "Rent due",
        };
    
        // Render components
        ReactDOM.render(<DashboardCard {...dashboardCardProps1} />, document.getElementById('dashboard-card-1'));
        ReactDOM.render(<DashboardCard {...dashboardCardProps2} />, document.getElementById('dashboard-card-2'));
        ReactDOM.render(<DashboardCard {...dashboardCardProps3} />, document.getElementById('dashboard-card-3'));
        ReactDOM.render(<DashboardCard {...dashboardCardProps4} />, document.getElementById('dashboard-card-4'));
            
    </script>

{% endblock reactscript %}
