{% extends "rentals/layout.html" %}
{% load static %}

{% block title %}Property rental - Home{% endblock title %}

{% block content %}

    <div class="container-fluid pt-3">
        <!-- First Row -->
        <div class="row mb-4">
            {% for card in dashboard_card_props %}
                <div class="col-md-3">
                    {% include "rentals/snippets/dashboard_card.html" with logo_link=card.logoLink number=card.number number_text=card.number_text text=card.text %}
                </div>
            {% endfor %}
        </div>
        <!-- Second Row -->
        <div class="row">
            <div class="col-md-8">
                <!-- Cash Flow Chart -->
                <div class="card">
                    <div class="card-header">
                        Cash Flow Chart
                    </div>
                    <div class="card-body">
                        <!-- Content of the Cash Flow Chart goes here -->
                        {% comment %} Third block will be bar chart with cash flow. The time width of the chart may be changed, as well as frequency of the data.  {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Payment Details -->
                <div class="card">
                    <div class="card-body p-0">
                        <h5 class="card-title fw-bold p-3">Payment schedule</h5>
                        <!-- Content of Payment Details goes here -->
                        {% comment %} The second block will show details on payments: x days of payment due, or payments made in time. Details on expenses listing all the required expenses with ticks or cross if expenses missed in certain months. {% endcomment %}
                        <div class="table-responsive">
                            {% include "rentals/payments_table.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% comment %} {% block script %}
    <script src="{% static 'rentals/index.js' %}"></script>
{% endblock script %} {% endcomment %}