{% extends "rentals/profile_layout.html" %}
{% load static %}

{% block profile_content %}
    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
        <p class="mb-2">Username: {{ user.username }}</p>
        <p class="mb-2">First Name: {{ user.first_name }}</p>
        <p class="mb-2">Last Name: {{ user.last_name }}</p>
        <p class="mb-2">Email: {{ user.email }}</p>
        <a href="{% url 'rentals:edit_profile' %}" class="btn btn-primary">Edit Profile</a>
    </div>
    <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab" tabindex="0">
        <!-- Settings Content Goes Here -->
    </div>

{% endblock profile_content %}