{% extends "rentals/profile_layout.html" %}
{% load static %}

{% block profile_content %}
    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
        <div class="mb-3 row">
            <label class="col-md-3 col-form-label">Username:</label>
            <div class="col-md-9 d-flex align-items-center">
                <p class="mb-0">{{ user.username }}</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-md-3 col-form-label">First Name:</label>
            <div class="col-md-9 d-flex align-items-center">
                <p class="mb-0">{{ user.first_name }}</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-md-3 col-form-label">Last Name:</label>
            <div class="col-md-9 d-flex align-items-center">
                <p class="mb-0">{{ user.last_name }}</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-md-3 col-form-label">Email:</label>
            <div class="col-md-9 d-flex align-items-center">
                <p class="mb-0">{{ user.email }}</p>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-md-9">
                <a href="{% url 'rentals:edit_profile' %}" class="btn btn-primary">Edit Profile</a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                    Change Password
                </button>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab" tabindex="0">
        <form id="userSettingsForm" method="post" action="{% url 'rentals:profile_page' %}">
            {% csrf_token %}
            <input type="hidden" name="settings_form_submit" value="1">

            {% for field in settings_form %}
                <div class="mb-3 row">
                    <label for="{{ field.id_for_label }}" class="col-md-3 col-form-label">{{ field.label }}</label>
                    <div class="col-md-9">
                        <div class="form-check">
                            {{ field }}
                            <div id="{{ field.id_for_label }}_error" class="invalid-feedback form-error">Test</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="mb-3 row">
                <div class="col-md-9">
                    <button type="submit" class="btn btn-primary">Save settings</button>
                </div>
            </div>
        </form>
    </div>

    
    <!-- Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'rentals:profile_page' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ password_change_form.old_password.id_for_label }}" class="form-label">Current Password</label>
                        {{ password_change_form.old_password }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ password_change_form.new_password1.id_for_label }}" class="form-label">New Password</label>
                        {{ password_change_form.new_password1 }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ password_change_form.new_password2.id_for_label }}" class="form-label">Confirm New Password</label>
                        {{ password_change_form.new_password2 }}
                    </div>
                    <input type="hidden" name="password_change_form_submit" value="1">
                    <button type="submit" class="btn btn-primary">Change Password</button>
              </form>
            </div>
          </div>
        </div>
    </div>

{% endblock profile_content %}

{% block script %}

    <script src="{% static 'rentals/settings.js' %}"></script>

{% endblock script %}
