{% extends "rentals/layout.html" %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <h2>Properties</h2>
        <button type="button" data-new-type="property" class="btn btn-primary mb-3 new-entry-button">Create new Property</button>
        
        {% if messages %}
            <div class="alert alert-danger">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <table id="propertyTable" class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2">Property</th>
                    <th class="text-center" rowspan="2">Location</th>
                    <th class="text-center" rowspan="2">For rent since</th>
                    <th class="text-center" rowspan="2">Status</th>
                    <th class="text-center" colspan="3">All Time</th>
                    <th class="text-center" rowspan="2"></th>
                    <th class="text-center" colspan="3">YTD</th>
                </tr>
                <tr>
                    <th class="text-center" >Gross Income</th>
                    <th class="text-center" >Expenses</th>
                    <th class="text-center" >Net Income</th>
                    <th class="text-center" >Gross Income</th>
                    <th class="text-center" >Expenses</th>
                    <th class="text-center" >Net Income</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div id="propertyDetailsContainer" class="container-fluid pt-3">
            <!-- First Row -->
            <div class="row mb-4">
                <div class="col-md-3" id="propertyLocationCard">
                    {% include "rentals/snippets/dashboard_card.html" with logo_link="/static/rentals/img/geo-fill.svg" number="" number_text="" text="Location" %}
                </div>
                <div class="col-md-3" id="propertyBedroomsCard">
                    {% include "rentals/snippets/dashboard_card.html" with logo_link="/static/rentals/img/columns.svg" number="" number_text="" text="bedrooms" %}
                </div>
                <div class="col-md-3" id="propertyAreaCard">
                    {% include "rentals/snippets/dashboard_card.html" with logo_link="/static/rentals/img/rulers.svg" number="" number_text="" text="sq. meters" %}
                </div>
                <div class="col-md-3" id="propertyValueCard">
                    {% include "rentals/snippets/dashboard_card.html" with logo_link="/static/rentals/img/cash-coin.svg" number=card.number number_text="" text="Property value" %}
                </div>
            </div>
            <!-- Second Row -->
            <div class="row">
                <div class="col-md-6">
                    <!-- Cash P&L Table -->
                    <div class="card">
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold p-3">P&L</h5>
                            <div class="table-responsive">
                                <table class="table table-bordered pnl-table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="YTD text-center">YTD</th>
                                            <th class="text-center">All-time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Tenants -->
                    <div class="card">
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold p-3">Payment schedule</h5>
                            <!-- Content of Payment Details goes here -->
                            <div class="table-responsive">
                                {% include "rentals/payments_table.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Third Row -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <!-- Valuation Chart -->
                    <div class="card" id="propertyValuationChartCard">
                        <div class="card-header font-weight-bold">
                            Property Valuation Chart
                        </div>
                        <div class="card-body">
                            {% include "rentals/snippets/timeline-chart.html" with form_type="propertyValuation" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    {% comment %} <div class="modal fade" id="propertyValueModalDiv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Valuation Chart</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include "rentals/snippets/timeline-chart.html" with form_type="propertyValuation" %}
                    <div class="modal-footer justify-content-between">
                        <button type="submit" class="btn btn-primary flex-fill col-md-5">First button</button>
                        <button type="button" class="btn btn-secondary flex-fill col-md-5" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}

    <div id="propertyValuationModalDiv"></div>

{% endblock content %}

{% block script %}
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.1.0"></script>

    <script src="{% static 'rentals/chart.js' %}"></script>
    <script src="{% static 'rentals/element.js' %}"></script>

{% endblock script %}