{% extends "rentals/layout.html" %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <h2>Tenants</h2>
        <button type="button" data-new-type="tenant" class="btn btn-primary mb-3 new-entry-button">Create new Tenant</button>
        
        {% if messages %}
            <div class="alert alert-danger">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <table id="tenantTable" class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2">Tenant</th>
                    <th class="text-center" rowspan="2">Property</th>
                    <th class="text-center" rowspan="2">Renting since</th>
                    <th class="text-center" rowspan="2">Rent rate</th>
                    <th class="text-center" colspan="2">Revenue</th>
                    <th class="text-center" rowspan="2">Debt</th>
                </tr>
                <tr>
                    <th class="text-center" >All time</th>
                    <th class="text-center" >YTD</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div id="tenantDetailsContainer" class="container-fluid pt-3" style="display: none">
            <!-- First Row -->
            <div class="row mb-4">
                <div class="col-md-3" id="tenantPropertyCard">
                    {% include "rentals/snippets/dashboard_card.html" with logo_link=card.logoLink number="" number_text="" text="Property" %}
                </div>
                <div class="col-md-3" id="tenantMovedInCard">
                    {% include "rentals/snippets/dashboard_card.html" with logo_link=card.logoLink number="" number_text="" text="Moved in" %}
                </div>
                <div class="col-md-3" id="tenantRentCard">
                    {% include "rentals/snippets/dashboard_card.html" with logo_link=card.logoLink number="" number_text="" text="Monthly rent" %}
                </div>
                <div class="col-md-3" id="tenantRevenueCard">
                    {% include "rentals/snippets/dashboard_card.html" with logo_link=card.logoLink number=card.number number_text="" text="All-time rent" %}
                </div>
            </div>
            <!-- Second Row -->
            <div class="row">
            </div>
        </div>
        
    </div>

{% endblock content %}

{% block script %}
    <script src="{% static 'rentals/element.js' %}"></script>
{% endblock script %}