{% extends "rentals/layout.html" %}
{% load static %}

{% block content %}

    <div class="container mt-4">
        <h2>Transactions</h2>
        <div class="d-flex justify-content-between mb-3">
            <button type="button" data-new-type="transaction" class="btn btn-primary new-entry-button">Create new Transaction</button>
            <div>
                <button type="button" class="btn btn-secondary me-2 edit-entry-button" data-edit-type="transaction" id="editTransactionButton" disabled>
                    Edit
                </button>
                <button type="button" class="btn btn-danger" id="deleteTransactionButton" data-delete-type="transaction" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" disabled>
                    <i class="bi bi-trash3"></i>
                </button>
            </div>
        </div>
        
        {% if messages %}
            <div class="alert alert-danger">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <table id="transactionTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Property</th>
                    <th>Category</th>
                    <th class="text-center">Amount</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div id="transactionDetailsContainer" class="container-fluid pt-3">
        </div>
        
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'rentals/element.js' %}"></script>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables Bootstrap 5 CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">

    <!-- Include DataTables CSS and JS files -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

{% endblock script %}